[Unit]
Description=Ptolemy RedBlue Geometries Engine Field Engine Socket
Documentation=man:ptolemy(1)

[Socket]
ListenStream=%h/.ptolemy/ptolemy.sock
SocketMode=0600

[Install]
WantedBy=sockets.target
